Repository junevm/cdns: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go-fast, tidy-go-mod, check-docs-format

Path conditions:
  format-go: any of: apps/cli/**/*.go
  lint-go-fast: any of: apps/cli/**/*.go
  tidy-go-mod: any of: apps/cli/{go.mod,go.sum}
  check-docs-format: any of: apps/documentation/**/*.md

chore: remove CI workflow and GitHub mirror from GitLab release configuration
  .github/workflows/ci.yml
  .gitlab/ci/release.yml
Due: none

chore: remove documentation files and add CI/CD configuration
  .github/dependabot.yml
  .github/workflows/main.yml
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/deploy.yml
  .gitlab/ci/release.yml
  .gitlab/ci/test.yml
  .gitlab/issue_templates/Default.md
  .gitlab/merge_request_templates/Default.md
  .golangci.yml
  .goreleaser.yaml
  .goreleaser.yml
  .releaserc.json
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  apps/cli/.goreleaser.yaml
  apps/documentation/.gitignore
  apps/documentation/AGENTS.md
  apps/documentation/README.md
  apps/documentation/docs/intro.md
  apps/documentation/docusaurus.config.ts
  apps/documentation/package.json
  apps/documentation/pnpm-lock.yaml
  apps/documentation/sidebars.ts
  apps/documentation/src/css/custom.css
  apps/documentation/src/pages/index.js
  apps/documentation/src/pages/index.module.css
  apps/documentation/src/pages/index.tsx
  apps/documentation/static/.nojekyll
  apps/documentation/static/img/favicon.ico
  apps/documentation/static/img/logo.svg
  apps/documentation/tsconfig.json
  install.sh
Due: check-docs-format

chore: update installer script and lefthook configuration for cdns project; bump go version and tool dependencies to latest
  .github/workflows/main.yml
  .goreleaser.yaml
  .releaserc.json
  apps/cli/go.mod
  install.sh
  lefthook.yml
  mise.lock
  mise.toml
Due: tidy-go-mod

docs: update README to enhance clarity and detail on CDNS features and installation options
  README.md
Due: none

chore: remove docker package-ecosystem from dependabot configuration
  .github/dependabot.yml
Due: none

fix: update README and presets descriptions for clarity and consistency
  README.md
  apps/cli/internal/dns/presets/presets.go
  apps/cli/internal/features/list/list.go
Due: format-go, lint-go-fast

feat(presets): add new DNS presets and update README for clarity
  README.md
  apps/cli/internal/dns/presets/presets.go
  apps/cli/internal/features/list/list.go
  apps/cli/internal/features/set/preset.go
Due: format-go, lint-go-fast

feat(tests): expand presets and validation tests for new DNS presets
  apps/cli/internal/dns/presets/presets_test.go
  apps/cli/internal/features/set/validation.go
  apps/cli/internal/features/set/validation_test.go
Due: format-go, lint-go-fast

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d1fbc25947daeb90678ba8cbb35977cb6d476f4a
Due: none

fix(goreleaser): correct build configuration and tidy command path
  .goreleaser.yaml
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b89d5b9634d62cbf9da16cec9839241c67fa3e3a
Due: none

chore(deps): update golangci-lint to version 2.9.0 and update checksums
  mise.lock
Due: none

fix(deps): update lefthook to version 2.1.1 and update checksums
  mise.lock
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1da491a0fde7b815eeb4021ba9332f8ffaabf0f7
Due: none

fix: remove empty code change entries from changes log
  apps/cli/cmd/app/main.go
  apps/cli/go.mod
  apps/cli/internal/cli/menu.go
  apps/cli/internal/cli/root.go
  apps/cli/internal/dns/backend/detector.go
  apps/cli/internal/dns/backend/detector_test.go
  apps/cli/internal/dns/backend/reader.go
  apps/cli/internal/dns/backend/writer.go
  apps/cli/internal/dns/models/models_test.go
  apps/cli/internal/dns/presets/presets.go
  apps/cli/internal/dns/presets/presets_test.go
  apps/cli/internal/features/list/list.go
  apps/cli/internal/features/list/list_test.go
  apps/cli/internal/features/reset/reset.go
  apps/cli/internal/features/reset/reset_test.go
  apps/cli/internal/features/set/custom.go
  apps/cli/internal/features/set/module.go
  apps/cli/internal/features/set/preset.go
  apps/cli/internal/features/set/service.go
  apps/cli/internal/features/set/set_tui_test.go
  apps/cli/internal/features/set/tui.go
  apps/cli/internal/features/set/validation.go
  apps/cli/internal/features/status/status.go
  apps/cli/internal/features/status/status_test.go
  apps/cli/internal/features/version/version.go
  apps/cli/internal/logger/logger.go
  apps/cli/internal/logger/logger_test.go
Due: format-go, lint-go-fast, tidy-go-mod

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  390a839c4bbe2adc7020af61e709c7b7d2112fc8
Due: none

feat(cli): restructure CLI application and update entry points
  .goreleaser.yaml
  README.md
  apps/cli/AGENTS.md
  apps/cli/cmd/cdns/main.go
  lefthook.yml
  mise.toml
Due: format-go, lint-go-fast

docs: remove unnecessary blank lines in AGENTS.md
  apps/cli/AGENTS.md
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6a98f2ed86150134dbd0eb7abea955292cf65833
Due: none

Notes added by 'git notes add'
  89dedec3c5c444cfeaabef93bb558f92fa40a063
Due: none

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: none

chore: Add badges and usage links to README
  README.md
Due: none

chore: Update README to remove 'sudo' from commands
  README.md
Due: none

docs: Update README.md with image and remove ASCII art
  README.md
Due: none

Add AlmaLinux to OS distribution status table
  README.md
Due: none

Change copyright holder in LICENSE file
  LICENSE
Due: none

Update README for GitHub repository migration
  README.md
Due: none

Update README.md
  README.md
Due: none
